.analytics {
	padding: 10rem 0;
	margin-bottom: 10rem;
	background: url(../img/analytics-bg.png);
	background-size: cover;
	background-position: center center;
	color: #fff;
	&__content {
		padding: 3rem 0;
		margin-bottom: 3rem;
	}
	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
		grid-gap: 4rem;
	}
}
