.what-you-will-learn {
	padding: 5rem 0;
	position: relative;
	.learn__container {
		max-width: 107rem;
	}

	.learn__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	@media only screen and (max-width: $tab-port) {
		background: $color-bg-primary;
		.learn__img {
			display: none;
		}
	}
}
